.event{
    padding-block: 1rem;

    h3{
        font-size: var(--fn-700);
        font-weight: 600;
        padding-block: 1rem;
    }
}

.card{
    display: flex;
    padding: 3rem;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    
}

.card-type{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: var(--fn-400);
    font-weight: bolder;
    color: var(--prim-color);
    text-transform: uppercase;
}

.card-info{
    background-image: linear-gradient(45deg, var(--prim-color), white);
    border-radius: 0.9rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    box-shadow:  6px 6px 9px 0px rgba(0, 0, 0, 0.5);

    & > span{
        position: absolute;
        top: -3rem;
        font-size: var(--fn-300);
        text-align: center;
        left: 50%;
        font-weight: bold;
        transform: translateX(-50%);
    }
}

.event-type{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card-image{
    position: relative;
    width: 11.5rem;
    height: 11.5rem;

    img{
        width: 13rem;
        height: 13rem;
        aspect-ratio: 1/1;
        transform: translate(-1rem,-1rem);
        overflow: hidden;
        border-radius: 0.3rem;                  
        box-shadow:  20px 20px 15px -12px rgba(0, 0, 0, 0.5);
    }
}

.mode{
    display: flex;
    padding-inline: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-around;
    
    span:nth-child(1){
        font-size: var(--fn-400);
        color: var(--black);
        text-transform: capitalize;
    }
    span:nth-child(2){
        color: var(--dark);
        font-size: var(--fn-300);
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.title{
    width: 100%;
    text-align: center;
    padding-block: 1rem;

    span{
        font-size: var(--fn-400);
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
    }
}