html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
	font-family: primary;
}

:root{
	--prim-color: #fea20b;
	--dark-shade: #cececf;
	--dark-color: #303134;
	--black: #202124;

	--fn-xxl: clamp(2rem, 12vw, 5rem);
	--fn-xl: clamp(1.5rem, 11vw, 4rem);
	--fn-900: clamp(2rem, 9vw, 3rem);
	--fn-700: clamp(1.5rem, 6vw, 2.5rem);
	--fn-600: clamp(1rem, 5vw, 2rem);
	--fn-400: clamp(0.6rem, 4vw, 1rem);
	--fn-300: clamp(0.6rem, 3vw, 0.8rem);


}

@font-face {
	font-family: primary;
	src: url(../images/RobotoCondensed-Regular.ttf);
}

html,body{
	width: 100vw;
	min-height: 100%;
}

.no-interact{
	height: 100%;
	overflow: hidden;
}

*::-webkit-scrollbar{
	display: none;
}